.table {
   width: 80vw;
   height: 60vw;
   max-width: 400px;
   max-height: 300px;
   background: linear-gradient(to bottom, forestgreen, darkgreen);
   position: relative;
}

.card-red {
   color: red;
}
.card-black {
   color: black;
}
.card {
   background-color: rgb(234, 233, 233);
   border: 1px solid black;
   width: 25vw;
   height: 40vw;
   max-width: 25vw;
   max-height: 40vw;
   line-height: 40vw;
   text-align: center;
   font-size: 20vw;
   position: relative;
}

.card-top {
   position: absolute;
   top: 33%;
   left: 37%;
   z-index: 2;
}
.card-bottom {
   position: absolute;
   top: 40%;
   left: 60%;
   z-index: 1;
}

.heart {
   color: red;
   font-size: 1.75rem;
   width: 1.875rem;
   height: 1.875rem;
   line-height: 1.875rem;
}
.spade {
   color: black;
   font-size: 2.25rem;
   width: 1.875rem;
   height: 1.875rem;
   line-height: 1.875rem;
}

.top-left {
   position: absolute;
   top: 2px;
   left: 2px;
}
.bottom-right {
   position: absolute;
   bottom: 2px;
   right: 2px;
}